@page "/"
@using CortanaLib
@using CortanaLib.Structures
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<header>
    <div class="title">
        <img src="favicon.png" alt="Cortana Logo" class="logo">
        <h1>Hi, I'm Cortana</h1>
        <p>Halo inspired Home Assistant and AI</p>
        <p id="temp">Room Temperature: @Temperature</p>
        <a class="github-button" href="https://github.com/GwynnN7/Cortana" target="_blank">View on GitHub</a>
    </div>
</header>

<main>
    <section id="features">
        <h2>Features</h2>
        <div class="feature-grid">
            <div class="feature-card">
                <h3>Kernel</h3>
                <p><b>Cortana's core</b>, which loads <b>Bootloader</b> and every component</p>
            </div>
            <div class="feature-card">
                <h3>Bootloader</h3>
                <p>Boots up and controls standalone <b>Subfunctions</b></p>
            </div>
            <div class="feature-card">
                <h3>Hardware API</h3>
                <p>Interface for controlling <b>Sensors</b>, <b>Devices</b> and <b>Raspberry</b></p>
            </div>
            <div class="feature-card">
                <h3>REST API</h3>
                <p>Interface for interacting with <b>Cortana</b> from the outside</p>
            </div>
            <div class="feature-card">
                <h3>Cortana Kernel</h3>
                <p>Contains <b>Kernel</b>, <b>Bootloader</b>, <b>Hardware API</b> and <b>REST API</b></p>
            </div>
            <div class="feature-card">
                <h3>Cortana Discord</h3>
                <p><b>Discord Bot</b> that communicates with <b>Cortana</b> through API</p>
            </div>
            <div class="feature-card">
                <h3>Cortana Telegram</h3>
                <p><b>Telegram Bot</b> that communicates with <b>Cortana</b> through API</p>
            </div>
            <div class="feature-card">
                <h3>Cortana Web</h3>
                <p><b>Web Application</b> that communicates with <b>Cortana</b> through API</p>
            </div>
        </div>
    </section>
    <hr class="solid">
    <section id="about">
        <h2>About Cortana</h2>
        <p><b>Halo</b> inspired <b>Home Assistant</b> and <i>Artificial Intelligence</i><br>
            My personal assistant in daily routines, integrated with <b>sensors, devices, applications and internet</b><br/>
            Currently living on <b>Raspberry Pi 4</b> running mostly on <b>C# .NET and ASP.NET CORE</b>
        </p>
    </section>
</main>

<footer>
    <p>Designed and Developed by <a href="https://github.com/GwynnN7">Gwynn7</a></p>
</footer>

@code {
    private string? Temperature { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _ = new System.Threading.Timer(_ =>
        {
            InvokeAsync( async ()  =>
            {
                ResponseMessage result = await ApiHandler.Get($"{ERoute.Sensors}/{ESensor.Temperature}");
                Temperature = result.Response;       
                StateHasChanged();
            });
        }, null, 0, 2000);
        
        await base.OnInitializedAsync();
    }
}