@page "/"
@inject HttpClient Client

<PageTitle>Home</PageTitle>

<h1>@GetHome().Result</h1>

Welcome to your new app.

@code {
    private async Task<string> GetHome()
    {
        return await Client.GetFromJsonAsync<string>("") ?? "Err"; 
    }
}