@page "/motion"
@attribute [StreamRendering]

<PageTitle>Motion History</PageTitle>

<h1>Motion Detected</h1>

<p>This component demonstrates showing data.</p>

@if (_data == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Wide Motion">Wide</th>
            <th aria-label="Precise Motion">Precise</th>
        </tr>
        </thead>
        <tbody>
        @foreach (MotionData d in _data)
        {
            <tr>
                <td>@d.Date.ToShortDateString()</td>
                <td>@d.WideMotion</td>
                <td>@d.PreciseMotion</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private MotionData[]? _data;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        DateOnly startDate = DateOnly.FromDateTime(DateTime.Now);
        _data = Enumerable.Range(1, 5).Select(index => new MotionData
        {
            Date = startDate.AddDays(index),
            WideMotion = Random.Shared.Next(0, 1),
            PreciseMotion = Random.Shared.Next(0, 1)
        }).ToArray();
    }

    private class MotionData
    {
        public DateOnly Date { get; init; }
        public int WideMotion { get; init; }
        public int PreciseMotion { get; init; }
    }

}