[Unit]
Description=Cortana Telegram Bot
After=network.target redis.service cortana-kernel.service
Requires=cortana-kernel.service
PartOf=cortana-kernel.service

[Service]
Type=simple
WorkingDirectory=%h/Cortana
ExecStart=%h/Cortana/CortanaTelegram/out/CortanaTelegram
ExecStartPre=/bin/rm -rf %h/Cortana/CortanaTelegram/out
ExecStartPre=/usr/bin/dotnet publish %h/Cortana/CortanaTelegram -o %h/Cortana/CortanaTelegram/out --artifacts-path %h/Cortana/CortanaTelegram/out/lib
EnvironmentFile=%h/.config/cortana/.env
Restart=on-failure
RestartSec=5
TimeoutStartSec=900
KillSignal=SIGTERM

StandardOutput=journal
StandardError=journal
SyslogIdentifier=CortanaTelegram
