[Unit]
Description=Cortana Desktop Agent
After=network.target

[Service]
ExecStartPre=/usr/bin/dotnet build %h/Projects/Cortana/CortanaDesktop -o %h/Projects/Cortana/CortanaDesktop/out --artifacts-path %h/Projects/Cortana/CortanaDesktop/out/lib
ExecStart=%h/Projects/Cortana/CortanaDesktop/out/CortanaDesktop
WorkingDirectory=%h/Projects/Cortana/CortanaDesktop/out
Restart=on-failure
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=15

StandardOutput=journal
StandardError=journal
SyslogIdentifier=CortanaDesktop

[Install]
WantedBy=default.target
